/* #################HEADER##########################*/

header {
text-align: center;
}

nav li {
	display: inline;
	padding-right: 2em;
	padding-left: 2em;
}

nav {
	font-size: 1em;
	padding-bottom: 2em;
}

h1 {
	color: #FF6A5D;
	padding: 1em;
	font-size: 4em;
}




